<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--在所有基础路径：src,href,前端都加上href属性值-->
    <base href="/"/>
    <meta charset="UTF-8">
    <title>系统登录 - 超市顾客管理系统</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body class="login_bg">
    <section class="loginBox">
        <header class="loginHeader">
            <h1>超市顾客管理系统<span style="color: red;font-size: 18px " th:text="${error}"></span></h1>
        </header>
        <section class="loginCont">
            <form class="loginForm" action="/login" method="post">
                <div class="inputbox">
                    <label for="username">用户名：</label>
                    <input id="username" type="text" name="username" placeholder="请输入用户名" required/>
                </div>
                <div class="inputbox">
                    <label for="password">密码：</label>
                    <input id="password" type="password" name="password" placeholder="请输入密码" required/>
                </div>
                <div class="subBtn">
                    <input type="submit" value="登录" />
                    <input type="reset" value="重置"/>
                </div>

            </form>
        </section>
    </section>

</body>
</html>